@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-color-dark:#0a0a0a;
  --bg-color-light1:#F4F0EC;
  --bg-color-light2:#E5E4E2;
  --text-color:#3a4042;

}

.ham-menu {
  height: 35px;
  width: 36px;
  margin-left: auto;
  position: relative;
}
.ham-menu span {
  height: 4.5px;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: black;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

html{
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

@layer{
  [type="text"]:focus{
    @apply ring-0 ring-black ring-transparent ring-offset-bg-color-light1 ;
  }

  input:focus{
    @apply ring-0 ring-black ring-transparent;
  }

  .MuiInputBase-input.css-yimnyd-MuiInputBase-input:focus{
    @apply ring-0 ring-black ring-transparent;
  }

  [type="text"]:focus{
    @apply ring-0 ring-black ring-transparent ;
  }
}

.blog-content img {
  max-width: 100%; /* Ensures responsiveness */
  height: auto;    /* Maintains aspect ratio */
  max-height: 500px; /* Limits the image height */
  object-fit: contain; /* Ensures the image doesn't get distorted */
}

.ql-toolbar button {
  position: relative;
  width: 30px !important;
  height: 30px !important;
  
  /* font-size: 50px; */
}
.ql-toolbar {
  height: auto !important;
  display: flex !important;
  gap: 10px;
  flex-wrap: wrap;
}
.ql-toolbar span{
  font-size: 18px;
}

.ql-toolbar button .ql-stroke,
.ql-toolbar button .ql-fill {
  stroke-width: 2; /* Adjust icon thickness */
  transform: scale(1); /* Increase icon size */
}
.ql-toolbar button[data-tooltip]:hover::after,.ql-toolbar span[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 10;
}
.ql-toolbar button[data-tooltip]:hover::before {
  content: '';
  position: absolute;
  bottom: calc(100% - 4px);
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
.profile-pic-responsive {
  width: var(--default-size);
  height: var(--default-size);
}

@media (max-width: 768px) {
  .profile-pic-responsive {
    width: calc(var(--default-size) * 0.6);
    height: calc(var(--default-size) * 0.6);
  }
}

@media (max-width: 480px) {
  .profile-pic-responsive {
    width: calc(var(--default-size) * 0.6);
    height: calc(var(--default-size) * 0.6);
  }
}

.ptag{
  margin-top: 0.5rem !important;
}