@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-color-dark:#0a0a0a;
  --bg-color-light1:#F4F0EC;
  --bg-color-light2:#E5E4E2;
  --text-color:#3a4042;

}

.ham-menu {
  height: 35px;
  width: 36px;
  margin-left: auto;
  position: relative;
}
.ham-menu span {
  height: 4.5px;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: black;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

html{
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

@layer{
  [type="text"]:focus{
    @apply ring-0 ring-black ring-transparent ring-offset-bg-color-light1 ;
  }

  input:focus{
    @apply ring-0 ring-black ring-transparent;
  }

  .MuiInputBase-input.css-yimnyd-MuiInputBase-input:focus{
    @apply ring-0 ring-black ring-transparent;
  }

  [type="text"]:focus{
    @apply ring-0 ring-black ring-transparent ;
  }
}